<!DOCTYPE html>
<html>
  <head>
    <title>Jillian's Hobbies</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
      <link href="../resources/css/carousel.css" rel="stylesheet">
      <link rel="stylesheet" href="../resources/css/nav-bar.css">
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
          
          <div class="collapse navbar-collapse" id="navbar">
            <div class="navbar-nav">
              <a class="nav-link active" aria-current="page" href="./index.html">Home</a>
              <a class="nav-link" href="./hobbies.html">Hobbies</a>
              <a class="nav-link" href="./projects.html">Project</a>
              <a class="nav-link" href="./resume.html">Resume</a>
            </div>
          </div>
      </nav>
    <img id="icon" src="../resources/img/cat-icon.PNG" alt="Balloon Icon" >
        </div>
  </head>
  <body>
    <link rel="stylesheet" href="../resources/css/cards.css">
    <div id="hobbies">
    <div class="card-deck" id = "card">
        <div class="card">
            <img class="card-img-top" src="../resources/img/plants.png"  id="Plant" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Plants</h5>
              <p class="card-text">I love having houseplants in my apartment and enjoy taking care of them and going to plant shops. I love learning about different species and variations of plants.</p>
            </div>
          </div>
        <div class="card">
          <img class="card-img-top" src="../resources/img/video-games.png" id="Video-games" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Video Games</h5>
            <p class="card-text">I love playing PC games at home. I currently am an Advisor for CU's League of Legends Esports Team and am the Founder and President of CU's Marginalized Genders in Gaming Club.</p>
          </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="../resources/img/cat.png" id="Cat" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Cats</h5>
              <p class="card-text">I have two amazing cats at home that I love to spend time with. Both are very playful and cuddly, and always make my day better when I get to cuddle with them.</p>
            </div>
          </div>
      </div>
      <link rel="stylesheet" href="../resources/css/style.css">
      <div class="footer"> 
        <a href="https://github.com/jillianbartz"><img src="../resources/img/github.png" id="github">
        <a href="https://discord.gg/user/miaouzers"><img src="../resources/img/discord.png" id="discord">
        <a href="https://twitter.com/miaouzers_"><img src="../resources/img/x.png" id="x">
      </div>
    </body>
</html>