<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
      <link href="../resources/css/carousel.css" rel="stylesheet">
      <link rel="stylesheet" href="../resources/css/nav-bar.css">
      <link rel="stylesheet" href="../resources/css/style.css">
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Jillian's Resume</title>
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
          
          <div class="collapse navbar-collapse" id="navbar">
            <div class="navbar-nav">
              <a class="nav-link active" aria-current="page" href="./index.html">Home</a>
              <a class="nav-link" href="./hobbies.html">Hobbies</a>
              <a class="nav-link" href="./projects.html">Project</a>
              <a class="nav-link" href="./resume.html">Resume</a>
            </div>
          </div>
      </nav>
    <img id="icon" src="../resources/img/cat-icon.PNG" alt="Balloon Icon" >
        </div>
  </head>
  <body>
    <table class="ui unstackable table" id="resume">
        <thead>
          <tr>
            <th>Education</th>
            <th>Location</th>
            <th class="right aligned">Year</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Desert Vista High School</td>
            <td>Phoenix, AZ</td>
            <td class="right aligned">2016-2020</td>
          </tr>
          <tr>
            <td>University of Colorado Boulder</td>
            <td>Boulder, CO</td>
            <td class="right aligned">2020-2025</td>
          </tr>
        </tbody>
      </table>
      <table class="ui tablet stackable table" id="resume">
        <thead>
          <tr>
            <th>Experience</th>
            <th>Location</th>
            <th class="right aligned">Year</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>CU Boulder Marginalized Genders in Gaming, Founder</td>
            <td>Boulder, CO</td>
            <td class="right aligned">2023-Present</td>
          </tr>
          <tr>
            <td>CU Boulder Gaming and Esports, Team Advisor</td>
            <td>Boulder, CO</td>
            <td class="right aligned">2022-Present</td>
          </tr>
          <tr>
            <td>DreamHack Creator Hub, Crew Lead</td>
            <td>Dallas, TX San Diego, CA</td>
            <td class="right aligned">2022-Present</td>
          </tr>
          <tr>
            <td>Gamma Phi Beta Sorority, Member</td>
            <td>Boulder, CO</td>
            <td class="right aligned">2020-2023</td>
          </tr>
          <tr>
            <td>Deans Leadership Fellow</td>
            <td>Boulder, CO</td>
            <td class="right aligned">2020</td>
          </tr>
          <tr>
            <td>Women and Business Initiative</td>
            <td>Boulder, CO</td>
            <td class="right aligned">2020</td>
          </tr>
        </tbody>
      </table>
      <table class="ui tablet stackable table" id="resume">
        <thead>
          <tr>
            <th>Skills</th>
          </tr>
        </thead>
        <tbody>
            <tr>
                <td>C++ Proficient</td>
              </tr>
          <tr>
            <td>SQL Proficient</td>
          </tr>
          <tr>
            <td>Excellent Leader</td>
          </tr>
        </tbody>
      </table>
      <div class="footer"> 
        <a href="https://github.com/jillianbartz"><img src="../resources/img/github.png" id="github">
        <a href="https://discord.gg/user/miaouzers"><img src="../resources/img/discord.png" id="discord">
        <a href="https://twitter.com/miaouzers_"><img src="../resources/img/x.png" id="x">
      </div>
  </body>
</html>