.navbar a{
    width: 100px !important;
    margin: 30px !important;
    padding: 30px!important;
    text-decoration: none !important;
    color: black!important;
    font-feature-settings: "smcp", "zero"!important;
    font-weight: bold!important;
    font-size: 25pt!important;
}

.navbar{
    box-sizing: border-box!important;
    background-color: #FFE6E8!important;
}

#icon{ 
    position: absolute!important;
    top: 7px!important;
    right: 7px!important;
    float: right!important;
    width: 210px !important;
}
